<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>
<body>



<p><strong>Modifier : </strong></p>

<form name="form" th:action="@{|/ordinateur/${ordinateur.id}|}" th:object="${ordinateur}"  method="POST">

    <input th:type="hidden" th:name="_method" th:value="PUT">
    <label>Marque:</label> <input type="text" id="marque" th:field="*{marque}">
    <input type="submit" value="Modifier">

</form>

<p><strong>Supprimer : </strong></p>

<form name="form" th:action="@{|/ordinateur/${ordinateur.id}|}" th:object="${ordinateur}"  method="POST">
    <input th:type="hidden" th:name="_method" th:value="DELETE">
    <input type="submit" value="Supprimer">
</form>


<p><strong>Affichage : </strong></p>
<div>
        <li th:text="${ordinateur.id}" ></li>
        <li th:text="${ordinateur.marque}" ></li>
        <ul th:each="ram:${ordinateur.rams}">
            <li th:text="${ram.id}" ></li>
            <li th:text="${ram.marque}" ></li>
        </ul>

</div>

</body>
</html>
