<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a th:href="@{/TestAdd}"> AjoutTest</a><br>

########Ordinateur########<br>
<a th:href="@{/getformulaire}"> Formulaire</a><br>
<a th:href="@{/ordinateur/2}"> Ordinateur</a><br>
<a th:href="@{/DisplayAllPC2}"> Ordinateurs</a><br>


<br><br><br><br>
########Ram########<br>
<a th:href="@{/getformulaireRam}"> Formulaire</a><br>
<a th:href="@{/ram/2}"> RAM</a><br>
<a th:href="@{/DisplayAllRAM2}"> RAMS</a><br>

</body>
</html>